on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - master

name: Lint, Tests and Build

jobs:
  test:
    name: Lint, Tests And Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - run: npm ci
      - run: npm run lint
      - run: npm run format
      - run: npm run test
      - run: npm run build
